<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ngEhtActivitiBpmApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">ngEhtActivitiBpm</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/task">Task Services</a></li>
              <li><a ng-href="#/task-list">Task List</a></li>
              <li><a ng-href="#/process">Process Services</a></li>
              <li>
                <a ui-sref="sample-custom-component({ taskDetails : null })" 
                    href="javascript:void(0)">
                  Custom component
                </a>
              </li>
              <li>
                <a ui-sref="sample-custom-component({ taskDetails : sampleTaskDetails })"
                    href="javascript:void(0)">
                  Custom component w/ task details
                </a>
              </li>              
              <li><a ng-href="#/bpm/claimable-tasks">Claimable tasks</a></li>
              <li><a ng-href="#/bpm/assigned-tasks">Assigned tasks</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div>
        <form class="form-inline">
          <div class="form-group">
            <label>Eht-Token</label>
            <input class="form-control" ng-model="principal.ehtToken"/>
          </div>
        </form>
      </div>
      <div ui-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/task-ctrl.js"></script>
        <script src="scripts/controllers/process-ctrl.js"></script>
        <script src="scripts/controllers/task-list-ctrl.js"></script>
        <script src="scripts/config/auth-interceptor.js"></script>
        <script src="scripts/config/state-sample-custom-component.js"></script>
        <script src="scripts/run/set-route-service.js"></script>
        <script src="scripts/run/set-sample-task-details.js"></script>
        <script src="scripts/module/js/ng-eht-bpm.js"></script>
        <script src="scripts/module/js/config/state-bpm-task.js"></script>
        <script src="scripts/module/js/config/state-bpm-claimable-tasks.js"></script>
        <script src="scripts/module/js/config/state-bpm-assigned-tasks.js"></script>
        <script src="scripts/module/js/services/eht-task.js"></script>
        <script src="scripts/module/js/services/eht-process.js"></script>
        <script src="scripts/module/js/services/eht-bpm-data-mapper.js"></script>
        <script src="scripts/module/js/directives/eht-bpm-task-list.js"></script>
        <script src="scripts/module/js/directives/eht-bpm-task-dynamic-controls.js"></script>
        <script src="scripts/module/js/run/run-set-task-list-template.js"></script>
        <script src="scripts/module/js/run/run-set-task-dynamic-controls-template.js"></script>
        <script src="scripts/module/js/run/run-set-claimable-tasks-state-template.js"></script>
        <script src="scripts/module/js/run/run-set-assigned-tasks-state-template.js"></script>
        <!-- endbuild -->
</body>
</html>
