<div class="container">
	<h3>Process Actions</h3>
	<div class="row">
		<div class="cols-md-6">
			<div class="form-group">
				<label for="processDefinitionId">Process definition ID</label>
				<input type="text" class="form-control"
					id="processDefinitionId" placeholder="process definition ID"
					ng-model="processDefinitionId">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtProcessService.getProcessDefinitionById({{processDefinitionId}})</span>
			<button class="btn btn-success"
					ng-click="getProcessDefinition(processDefinitionId)"
					type="button" ng-disabled="isLoadingProcessDefinitions">
				<span ng-hide="isLoadingProcessDefinitions">Send</span>
				<span ng-show="isLoadingProcessDefinitions">Sending...</span>
			</button>
		</div>
		<div class="cols-md-8">
			<pre>{{processDefinition | json}}</pre>
		</div>
	</div>
</div>