<div class="row">
	<div class="col-sm-12">
		<p>This is a sample component</p>
		<div class="col-sm-6">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-3">Foo</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="complex.foo"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Bar</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="complex.bar"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Taz</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="taz"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Buzz</label>
					<div class="col-sm-9">
						<input class="form-control" ng-model="buzz"/>
					</div>
				</div>
			</div>
			<div ng-if="taskDetails" class="row">
				Dynamic controls
				<div data-eht-bpm-task-dynamic-controls 
					data-readonly="false" 
					data-task="taskDetails"
					data-events="dynamicControlsEvents">
				</div>
			</div>
		</div>		
		<div class="col-sm-6">
			<div>Task details:</div>
			<pre>{{taskDetails | json}}</pre>
		</div>
	</div>
</div>