<div class="container">
	<h3>Task Service</h3>
	<div class="row">
		<div class="cols-md-12">
			<div class="form-group">
				<label for="taskId">Task ID</label>
				<input type="text" class="form-control"
					id="taskId" placeholder="Task ID"
					ng-model="taskId">
			</div>
		</div>
		<div class="cols-md-4">
			<span>EhtTaskService.getTaskById({{taskId}})</span>
			<button class="btn btn-success"
					ng-click="getTask(taskId)"
					type="button" ng-disabled="isLoadingTask">
				<span ng-hide="isLoadingTask">Send</span>
				<span ng-show="isLoadingTask">Sending...</span>
			</button>
		</div>
		<div class="cols-md-8">
			<pre>{{task | json}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtTaskService.getAllClaimableTasks()</span>
			<button class="btn btn-success"
					ng-click="getClaimableTasks()" 
					type="button" ng-disabled="isLoadingclaimableTasks">
				<span ng-hide="isLoadingclaimableTasks">Send</span>
				<span ng-show="isLoadingclaimableTasks">Sending...</span>
			</button>
		</div>
		<div class="cols-md-8">
			<pre>{{claimableTasks | json}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtTaskService.getAssignedTasks()</span>
			<button class="btn btn-success"
					ng-click="getAssignedTasks()" 
					type="button" ng-disabled="isLoadingAssignedTasks">
				<span ng-hide="isLoadingAssignedTasks">Send</span>
				<span ng-show="isLoadingAssignedTasks">Sending...</span>
			</button>
		</div>
		<div class="cols-md-8">
			<pre>{{assignedTasks | json}}</pre>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtTaskService.climeTask({{taskId}})</span>
			<button class="btn btn-success"
					ng-click="claim(taskId)" 
					type="button" ng-disabled="isClaimingTask">
				<span ng-hide="isClaimingTask">Claim!</span>
				<span ng-show="isClaimingTask">Claiming...</span>
			</button>
		</div>
		<div class="cols-md-8" ng-hide="isRevokingTask">
			<div class="alert alert-success" role="alert" ng-show="claimed">
				Task was claimed successfully
			</div>
			<div class="alert alert-danger" role="alert" ng-show="claimError">
				<strong>{{claimError}}:</strong> Task was not claimed successfully.
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtTaskService.revokeTask({{taskId}})</span>
			<button class="btn btn-success"
					ng-click="revoke(taskId)" 
					type="button" ng-disabled="isRevokingTask">
				<span ng-hide="isRevokingTask">Revoke!</span>
				<span ng-show="isRevokingTask">Revoking...</span>
			</button>
		</div>
		<div class="cols-md-8" ng-hide="isRevokingTask">
			<div class="alert alert-success" role="alert" ng-show="revoked">
				Task was revoked successfully
			</div>
			<div class="alert alert-danger" role="alert" ng-show="revokeError">
				<strong>{{revokeError}}:</strong> Task was not revoked successfully.
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtTaskService.completeTask({{taskId}})</span>
			<button class="btn btn-success"
					ng-click="complete(taskId)" 
					type="button" ng-disabled="isCompletingTask">
				<span ng-hide="isCompletingTask">Complete!</span>
				<span ng-show="isCompletingTask">Compliting...</span>
			</button>
		</div>
		<div class="cols-md-8" ng-hide="isCompletingTask">
			<div class="alert alert-success" role="alert" ng-show="completed">
				Task was completed successfully
			</div>
			<div class="alert alert-danger" role="alert" ng-show="completeError">
				<strong>{{completeError}}:</strong> Task was not completed successfully.
			</div>
		</div>
	</div>
</div>