<div>
	<div>
		<h2>Task list sample data</h2>
		<div class="row">
			<div class="col-sm-4">
				<h4>Form to grab data</h4>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-10 col-sm-offset-2">
							<button type="button" 
									class="btn btn-default" 
									ng-click="getClaimableTasks()">
								Get claimable tasks
							</button>
							<button type="button"
									class="btn btn-default"
									ng-click="getAssignedTasks()">
								Get assigned tasks
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4">				
				<h4>Claimable tasks</h4>
				<div ng-show="claimableTasks">
					<div class="list-group">
						<a href="javascript:void(0)" 
								ng-click="goClaimableTask(task)"
								ng-repeat="task in claimableTasks.items"
								class="list-group-item">
							{{task.name}} ({{task.id}})
						</a>
						<a href="javascript:void(0)"
								ng-click="goAllClaimableTasks()"
								class="list-group-item">
							<strong>View all</strong>
						</a>
					</div>
				</div>				
			</div>
			<div class="col-sm-4">
				<h4>Assigned tasks</h4>
				<div ng-show="assignedTasks">
					<div class="list-group">
						<a href="javascript:void(0)"
								ng-click="goAssignedTask(task)"
								ng-repeat="task in assignedTasks.items"
								class="list-group-item">
							{{task.name}} ({{task.id}})
						</a>
						<a href="javascript:void(0)"
								ng-click="goAllAssignedTasks()"
								class="list-group-item">
							<strong>View all</strong>
						</a>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div>
		<h2>Task list component</h2>
		<div ng-if="showingTaskList">
			<div data-eht-bpm-task-list 
				data-task-list="taskList"
				data-selected-task-id="selectedTaskId"
				data-tasks-state="tasksState"/>
		</div>
	</div>
</div>